<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <!-- simple ajax requests without extra dependencies -->
  <script src="/assets/js/xmlhttprequest.js"></script>
  <!-- preventing double import of polymer; thanks Artur! -->
  <%= import_vaadin_elements %>

</head>
<body>
<p>Select a year or a birthplace. Both selections affect the rows available in the table.</p>

<vaadin-date-picker id="date"></vaadin-date-picker>

<p>Select a person to see the birthplace (and other people born there):</p>

<%= vaadin_combo_box :person, @people, immediate: '/~/:id', item_value_path: 'id', item_label_path: 'display_name' %>

<%= vaadin_combo_box :birthplace, @countries, {immediate: '/update'} %>

<p>People born in a selected birthplace and selected year:</p>

<vaadin-grid id="grid"></vaadin-grid>

<script>
  <%= setup_vaadin_elements %>
</script>

</body>
</html>
